div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleWrapper {
    width: 90vw;
    background-color: white;
    margin: 1rem 0rem;
}

h1 {
    font-weight: light;
}

h4 {
    font-weight: lighter;
}